@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;700&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: slick-font-url("slick.eot");
  src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: 30px;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 60px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
}

[dir="rtl"] .slick-prev {
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0;
}

[dir="rtl"] .slick-next {
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

li.slick-active > .node {
  box-shadow: 0px 0px 3px 2px #55CD42cc;
  background-color: #55CD42;
}

li.active > .node {
  box-shadow: 0px 0px 3px 2px #55CD42cc;
  background-color: #55CD42;
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

.programm_info {
  width: 700px;
  overflow: hidden;
  padding-top: 16px;
}

.programm_box {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: #4e4d4d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  background-size: cover;
  height: 500px;
}

.programm_box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.programm_box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.slick-slide {
  max-width: 700px;
  height: auto;
  position: relative;
  border-radius: 10px;
}

.slick-slide:nth-child(1) .programm_box:before {
  background-image: url(../img/1.jpg);
  background-position: center;
}

.slick-slide:nth-child(2) .programm_box:before {
  background-image: url(../img/2.jpg);
  background-position: center;
}

.slick-slide:nth-child(3) .programm_box:before {
  background-image: url(../img/3.jpg);
  background-position: center;
}

.slick-slide:nth-child(4) .programm_box:before {
  background-image: url(../img/4.jpg);
  background-position: center;
}

.slick-slide:nth-child(5) .programm_box:before {
  background-image: url(../img/5.jpg);
  background-position: center;
}

.slick-slide:nth-child(6) .programm_box:before {
  background-image: url(../img/6.jpg);
  background-position: center;
}

.slick-slide:nth-child(7) .programm_box:before {
  background-image: url(../img/7.jpg);
  background-position: center;
}

.slick-slide:nth-child(8) .programm_box:before {
  background-image: url(../img/8.jpg);
  background-position: center;
}

.programm_more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.programm_more > * + * {
  margin-top: 1rem;
}

.more_title {
  font-family: 'Overpass';
  font-weight: bold;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 52px;
  letter-spacing: 0.0175em;
  text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

.more_text {
  font-family: 'Overpass';
  line-height: 42px;
  letter-spacing: 0.0175em;
  font-size: 20px;
  text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.4);
}

@media (hover: hover) {
  .programm_box:after {
    transform: translateY(0);
  }
  .programm_more {
    transform: translateY(100%);
  }
  .programm_more > *:not(.more_title) {
    opacity: 0;
    transform: translateY(2rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .programm_box:hover,
  .programm_box:focus-within {
    align-items: center;
  }
  .programm_box:hover:before,
  .programm_box:focus-within:before {
    transform: translateY(-4%);
  }
  .programm_box:hover:after,
  .programm_box:focus-within:after {
    transform: translateY(-50%);
  }
  .programm_box:hover .programm_more,
  .programm_box:focus-within .programm_more {
    transform: translateY(32px);
  }
  .programm_box:hover .programm_more > *:not(.more_title),
  .programm_box:focus-within .programm_more > *:not(.more_title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .programm_box:focus-within:before, .programm_box:focus-within:after,
  .programm_box:focus-within .programm_more,
  .programm_box:focus-within .programm_more > *:not(.more_title) {
    transition-duration: 0s;
  }
}

.mode {
  position: relative;
  line-height: 26px;
  cursor: pointer;
}

.mode:not(:first-child)::before {
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  top: -52px;
  background-color: #d7d7d7;
  height: 60px;
  width: 4px;
  margin-left: 8px;
  transition: all 800ms ease;
}

.mode.slick-active:not(:first-child)::before {
  background-color: #55CD42;
}

.mode.active:not(:first-child)::before {
  background-color: #55CD42;
}

.mode .node {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 800ms ease;
  position: absolute;
  top: 0;
}

li {
  line-height: 1px;
  list-style: none;
}

li p {
  display: inline-block;
  margin-left: 40px;
  color: white;
  position: relative;
  cursor: pointer;
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  user-select: none;
  white-space: nowrap;
}

.green {
  background-color: #55CD42;
}

.grey {
  background-color: #d7d7d7;
}

.slick-ds {
  position: absolute;
  top: 0;
  left: -50px;
}

.progress {
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.progress button {
  display: none !important;
}

html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Russo One';
  background-color: #171515;
  font-size: 24px;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

.none {
  display: none;
}

.all {
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media (pointer: fine) {
  .all::-webkit-scrollbar {
    width: 15px;
    z-index: 1;
  }
  .all::-webkit-scrollbar-track {
    background: #1d1f1c;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .all::-webkit-scrollbar-thumb {
    background: #4bb53b;
    border-radius: 8px;
    border: 3px solid #1d1f1c;
  }
}

.logo {
  z-index: 2;
}

.logo svg {
  transform: scale(2);
  height: 30px;
  width: 90px;
}

.preloader_con {
  height: 100vh;
  transition: .4s linear;
}

.preloader_con.preloader-remove {
  height: 0vh;
}

.preloader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 30px auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  animation: preloader-5-spin 2s linear infinite;
  top: 27%;
  transition: .4s linear;
}

.preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BFE2FF;
  animation: preloader-5-spin 3s linear infinite;
}

.preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #337AB7;
  animation: preloader-5-spin 1.5s linear infinite;
}

.preloader.preloader-remove {
  top: 0;
  opacity: 0;
  z-index: -10;
  width: 0;
  height: 0;
  margin: 0 auto;
  border: 0px;
  overflow: hidden;
}

@keyframes preloader-5-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.parallax {
  min-height: 100vh;
  position: relative;
  width: 100%;
  width: 100vw;
  transform-style: inherit;
  box-sizing: border-box;
}

.parallax::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  left: -13px;
  transform-origin: center;
  min-height: 100vh;
  z-index: -1;
  background-position: center;
  background-image: url(../img/moution.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
}

.content {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #171515;
  scroll-behavior: smooth;
}

.title {
  line-height: 52px;
  letter-spacing: 0.0175em;
  font-size: 24px;
  text-shadow: 4px 6px 7px #00000040;
  display: inline;
  position: relative;
  margin: 0 auto;
  white-space: nowrap;
}

.title::after {
  content: "";
  position: absolute;
  border-bottom: solid 12px #55CD42;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: -1;
}

.title.left {
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 90%;
}

.burger {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.burger input {
  display: none;
}

.burger path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.burger circle {
  fill: #fff3;
  opacity: 0;
  transition: .1s linear;
}

.burger .cross input:checked + svg .line--1,
.burger .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}

.burger .cross input:checked + svg .line--2 {
  --length: 0;
}

.burger .debug {
  display: none;
}

.menu--3 {
  display: none;
}

.menu--3 .line--1,
.menu--3 .line--3 {
  --total-length: 126.38166809082031;
}

.menu--3 .line--2 {
  --total-length: 80;
}

.menu--3 input:checked + svg .line--1,
.menu--3 input:checked + svg .line--3 {
  --offset: -109.1770175568;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
  --length: 8.602325267;
}

header {
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  align-items: center;
}

.header_item {
  display: flex;
  column-gap: 71px;
}

.header_links {
  font-size: 18px;
  line-height: 19px;
  color: #FFFFFF;
  transition: .2s linear;
}

.header_links:hover {
  color: #55CD42;
}

.header_links.active {
  color: #55CD42;
}

.hed2 {
  padding: 36px 0;
  display: none;
  scroll-behavior: smooth;
}

@media (min-width: 770px) {
  .hed2.fixed {
    display: block;
    position: fixed;
    backdrop-filter: blur(12px);
    z-index: 1;
    left: 0;
    top: -2px;
    width: calc(100%);
  }
}

@media (pointer: fine) {
  .hed2.fixed {
    width: calc(100% - 15px);
  }
}

.hed2 .container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.number_links {
  font-size: 18px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #FFFFFF;
  white-space: nowrap;
}

.inner_position_el {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner_block {
  margin-top: 100px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 46px;
}

.title_main {
  font-size: 46px;
  line-height: 55px;
  letter-spacing: 0.0175em;
  color: #FFFFFF;
  max-width: 700px;
}

.text_main {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 52px;
  letter-spacing: 0.0195em;
  color: #F7F7F7;
  max-width: 800px;
  padding-bottom: 24px;
}

.btn_order {
  display: inline;
  padding: 22px 52px;
  background-color: #55CD42;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.0175em;
  color: #1A2E1D;
  transition: .2s linear;
}

.btn_order:hover {
  background-color: #1A2E1D;
  color: #55CD42;
}

.inner_social {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 8px;
  background: #09090961;
  border-radius: 10px;
  margin-right: 178px;
}

.inner_social svg {
  max-height: 30px;
  width: 30px;
  fill: #d7d7d7;
  display: block;
  transition: .2s linear;
}

.inner_social svg:hover {
  fill: #55CD42;
}

.animate {
  opacity: 0;
  transform: translateY(30px);
}

.animate.show {
  opacity: 1;
  transition: all 1.4s;
  transform: translateY(0%);
}

.wait {
  position: relative;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.wait_block {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.wait_type {
  text-align: left;
}

.wait_text {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 52px;
  letter-spacing: 0.0175em;
  color: #F7F7F7;
  max-width: 580px;
  padding-top: 44px;
}

.wait_text span {
  color: #55CD42;
}

.wait_img img {
  border-radius: 6px;
  background-size: cover;
  max-width: 455px;
  height: 608px;
}

.blur {
  position: absolute;
  width: 400px;
  height: 550px;
  right: 10%;
  top: 10%;
  z-index: -2;
  background: radial-gradient(52.02% 44.88% at 50.12% 55.12%, rgba(73, 137, 165, 0.85) 9.38%, rgba(186, 205, 66, 0.85) 48.44%, rgba(66, 86, 194, 0.85) 71.87%, rgba(85, 205, 66, 0.85) 88.13%, rgba(217, 217, 217, 0) 100%);
  filter: blur(300px);
}

.water {
  height: 100vh;
  width: 100%;
}

.programm {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.programm::before {
  content: '';
  background: url(../img/moution.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(12px) brightness(0.4);
  position: absolute;
  inset: -1px;
  z-index: 1;
  overflow: hidden;
}

.arrows_block {
  position: relative;
  width: 150px;
  transform: translateX(calc(-50% - 8px));
  bottom: -35px;
  left: 50%;
}

.programm_container {
  position: relative;
  z-index: 3;
  padding-top: 90px;
  display: flex;
  column-gap: 60px;
  justify-content: space-around;
}

@keyframes water2 {
  0% {
    background-position: -10% -10%;
  }
  100% {
    background-position: 20% 100%;
  }
}

.advantage {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.advantage .title {
  margin-bottom: 80px;
}

.advantage_item {
  display: flex;
  column-gap: 80px;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 80px;
}

.advantage_items {
  display: flex;
  flex-direction: column;
}

.advantage_block {
  display: flex;
  align-items: center;
  column-gap: 56px;
  margin-left: 18px;
}

.advantage_block img {
  height: 68px;
  width: auto;
}

.advantage_text {
  margin-top: 16px;
  max-width: 330px;
  font-family: 'Overpass';
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.0175em;
  color: #F7F7F7;
}

.price {
  padding-bottom: 180px;
  text-align: center;
}

.price .container {
  overflow: hidden;
}

.price_item {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_item_card {
  overflow: hidden;
  min-width: 351px;
  height: 480px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
}

.price_item_card:hover .price_items {
  transform: scale(1.1);
}

.price_item_card:hover .price_items::before {
  content: '';
  background-color: black;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: .3s ease-in-out;
  opacity: .5;
}

.price_item_card:hover .price_subtite {
  opacity: 0;
}

.price_item_card:hover .price_text {
  opacity: 1;
  transform: translateY(0);
}

.price_items {
  font-family: 'Overpass';
  text-align: center;
  font-size: 18px;
  line-height: 52px;
  display: block;
  position: absolute;
  inset: 0;
  letter-spacing: 0.0175em;
  background-color: black;
  background: url("../img/tamak.png");
  background-position: center;
  background-size: cover;
  transition: .3s ease-in-out;
}

.price_items::before {
  content: '';
  background-color: black;
  position: absolute;
  inset: 0;
  opacity: .3;
}

.price_title {
  padding-top: 30px;
  padding-bottom: 28px;
  font-family: 'Russo One';
  font-size: 24px;
  position: relative;
  color: #F7F7F7;
  z-index: 1;
  position: relative;
}

.price_title::after {
  content: '1000 ₽ с человека';
  padding-top: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0175em;
  color: #FFFFFF;
  white-space: nowrap;
}

.price_subtite {
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
  position: absolute;
  bottom: 40px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 52px;
  font-size: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.price_text {
  position: absolute;
  display: block;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s ease-in-out;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  padding: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.0175em;
  color: #F7F7F7;
}

.delivery {
  background: url("../img/moution.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  padding: 48px 0;
}

.services_title {
  margin-top: 60px;
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.0175em;
  color: #F7F7F7;
  text-align: left;
}

.order {
  width: 539px;
  height: 563px;
  backdrop-filter: blur(12px);
  border-radius: 6px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  font-family: 'Overpass';
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0.0175em;
  text-align: center;
}

.order_value {
  height: 69px;
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
  text-align: center;
  padding: 0 32px;
  color: #657489;
}

.order_btn {
  background-color: #55CD42;
  height: 64px;
  width: 100%;
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.0175em;
  color: #F7F7F7;
}

.order_btn.disable {
  background-color: #353935;
}

.order_text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #A5A5A5;
  margin-top: 10px;
}

footer .header_links {
  color: #A5A5A5;
  font-size: 16px;
}

.footer_position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_links {
  padding-top: 56px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}

.footer_social {
  display: flex;
  column-gap: 30px;
}

.footer_social svg {
  width: 30px;
  height: 30px;
  fill: #d7d7d7;
  transition: .2s linear;
}

.footer_social svg:hover {
  fill: #55CD42;
}

.my_link {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0175em;
  color: #55CD42;
}

.question .title {
  text-align: center;
  margin: 0 auto;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 90px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #55CD42;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #55CD42;
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #55CD42;
  border: 1px solid #55CD42;
}

.accordion button .accordion-title {
  font-family: 'Overpass';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.017em;
  color: #FFFFFF;
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: url(../img/plus.svg);
  right: 12px;
  transform: rotate(45deg);
  transition: .2s linear;
}

.accordion button[aria-expanded='true'] {
  color: #55CD42;
}

.accordion button[aria-expanded='true'] .icon::before {
  transform: rotate(0deg);
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.017em;
  margin: 2em 0;
}

@media (max-width: 1200px) {
  .header_item {
    column-gap: 48px;
  }
  .inner_block {
    margin-top: 50px;
  }
  .text_main {
    font-size: 24px;
    max-width: 780px;
  }
  .inner_social {
    margin-right: 90px;
  }
  .wait_text {
    max-width: 440px;
    font-size: 19px;
  }
  .programm_info {
    width: 600px;
  }
  .programm_container {
    column-gap: 36px;
  }
  .progress {
    row-gap: 32px;
  }
  .advantage_text {
    text-align: left;
  }
  .price_item {
    column-gap: 90px;
  }
  .order {
    row-gap: 32px;
    height: 530px;
    margin-top: 46px;
  }
}

@media (max-width: 990px) and (min-width: 770px) {
  .programm_info {
    margin: 0 auto;
    padding-top: 110px;
    margin-bottom: 70px !important;
    width: 700px;
  }
  .programm_container {
    flex-direction: column-reverse;
    padding-top: 55px;
  }
  .progress {
    padding-top: 60px;
    margin-top: 30px;
    flex-direction: row;
    row-gap: unset;
    column-gap: 90px;
    justify-content: center;
  }
  .mode:not(:first-child)::before {
    width: 96px;
    height: 4px;
    top: 9px;
    left: -86px;
  }
  .mode:nth-child(odd) p {
    margin: 0;
    position: absolute;
    top: -46px;
    left: -64px;
    font-size: 16px;
  }
  .mode:first-child p {
    left: -11px;
  }
  .mode:nth-child(even) p {
    margin: 0;
    position: absolute;
    top: 32px;
    left: 0px;
    font-size: 16px;
    left: -51px;
  }
  .more_title {
    font-size: 22px;
  }
}

@media (max-width: 990px) {
  .hed2 {
    padding: 22px 0;
  }
  .header_item {
    column-gap: 32px;
  }
  .header_links {
    font-size: 16px;
  }
  .number_links {
    display: none;
  }
  .text_main {
    font-size: 22px;
    max-width: 536px;
    line-height: 42px;
  }
  .btn_order {
    font-size: 18px;
    padding: 20px 48px;
  }
  .wait_block {
    flex-direction: column;
    padding-top: 20px;
  }
  .wait_img img {
    max-width: 540px;
    height: 570px;
  }
  .wait_text {
    max-width: 100%;
    padding-top: 29px;
    padding-bottom: 40px;
  }
  .advantage {
    padding-bottom: 90px;
  }
  .advantage_item {
    flex-direction: column;
    align-items: center;
    column-gap: unset;
    row-gap: 40px;
    padding-top: 50px;
  }
  .advantage_item .advantage_text {
    max-width: 400px;
    text-align: center;
  }
  .arrows_block {
    position: absolute;
    bottom: 10px;
    width: 150px;
  }
  .price {
    padding-bottom: 90px;
  }
  .price_item {
    margin-top: 50px;
    column-gap: 36px;
  }
  .price_item_card {
    min-width: 330px;
    height: 430px;
  }
  .price_item_card:hover .price_text {
    transform: translateY(-10%);
  }
  .delivery {
    padding: 20px 0;
  }
  .order {
    padding: 0 20px;
    height: 480px;
  }
  .services_title {
    margin-top: 40px;
    font-size: 24px;
  }
  footer .footer_position {
    padding: 16px 0;
  }
  footer .header_item {
    flex-direction: column;
    row-gap: 16px;
  }
}

@media (max-width: 770px) {
  .menu--3 {
    display: block;
    position: absolute;
    left: 16px;
    z-index: 2;
    top: 12px;
    transform: scale(1.2);
    border-radius: 50%;
    backdrop-filter: blur(12px);
  }
  .menu--3.active {
    z-index: 2;
  }
  .hed2 {
    display: block;
    padding: 0;
  }
  .hed2 .logo {
    display: none;
  }
  .hed2.active .number_links {
    display: block;
    z-index: 1;
    position: absolute;
    /* bottom: 0; */
    top: 570px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hed2.fixed .logo {
    margin: 0 auto;
  }
  .inner_position_el {
    column-gap: 32px;
    justify-content: unset;
  }
  .inner_social {
    margin-right: 0;
  }
  .header_item {
    display: grid;
    width: 100%;
    position: absolute;
    inset: 0;
    padding-top: 130px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: 150%;
    background-color: #000;
    align-items: center;
    transform: translateX(-100%);
    transition: .3s linear;
    z-index: 1;
  }
  .header_item.active {
    transform: translateX(0%);
  }
  .header_item.active .header_links {
    font-size: 22px;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .header_item .header_items {
    height: 100%;
    width: 100%;
  }
  .inner_block {
    margin-top: 70px;
  }
  .parallax header {
    padding: 24px 0;
    justify-content: end;
  }
  .wait {
    padding-top: 50px;
  }
  .wait_img img {
    height: 500px;
    max-width: 100%;
  }
  .left::after {
    border-bottom: unset;
  }
  .wait_text {
    padding-top: 16px;
    line-height: 46px;
  }
  .programm_container {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 50px;
    padding-top: 50px;
  }
  .progress {
    align-items: center;
    row-gap: 52px;
  }
  .programm_info {
    max-width: 100%;
  }
  .mode::before {
    margin-left: 0 !important;
  }
  .mode .node {
    left: -8px;
  }
  .mode:nth-child(even) p {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    position: absolute;
    left: 24px;
    font-size: 16px;
  }
  .mode:nth-child(odd) p {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    position: absolute;
    right: 22px;
    font-size: 16px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 70px;
  }
  .advantage {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .advantage_item .advantage_text {
    text-align: left;
  }
  .advantage_block {
    margin-left: 0;
  }
  .advantage_block img {
    height: 57px;
  }
  .delivery .container {
    max-width: 100%;
  }
  .price_item {
    overflow-x: auto;
  }
  .price_item::-webkit-scrollbar {
    width: 0;
  }
  .price_item_card {
    scroll-snap-align: start;
  }
  .order {
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
    height: 455px;
    row-gap: 28px;
  }
  .order .order_value {
    height: 62px;
  }
}

@media (max-width: 565px) {
  .container {
    padding: 0 12px;
    max-width: 100%;
  }
  .menu--3 {
    left: 10px;
  }
  .parallax header {
    padding: 24px 0;
  }
  .parallax .inner_block {
    margin-top: 50px;
    gap: 34px;
  }
  .title_main {
    font-size: 42px;
    line-height: 46px;
  }
  .text_main {
    font-size: 20px;
    max-width: 536px;
    line-height: 34px;
  }
  .inner_position_el {
    row-gap: 28px;
    align-items: flex-start;
    flex-direction: column;
  }
  .btn_order {
    padding: 16px 36px;
  }
  .wait {
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .blur {
    width: 344px;
    height: 387px;
  }
  .wait_block {
    padding-top: 16px;
  }
  .wait_img img {
    height: 440px;
  }
  .wait_text {
    padding-top: 8px;
    line-height: 38px;
    padding-bottom: 28px;
  }
  .programm_container {
    padding-top: 40px;
  }
  .programm_box {
    height: 440px;
  }
  .programm_more {
    transform: translateY(80%);
  }
  .programm_more:hover {
    transform: translateY(0%);
  }
  .more_title {
    font-size: 22px;
  }
  .more_text {
    font-size: 16px;
    line-height: 30px;
  }
  .slick-prev,
  .slick-next {
    bottom: -30px;
    height: 66px;
    width: 60px;
  }
  .arrows_block {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .advantage {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .advantage_item {
    row-gap: 32px;
    padding-top: 40px;
  }
  .advantage_block {
    column-gap: 42px;
  }
  .advantage_title {
    font-size: 20px;
  }
  .advantage_text {
    margin-top: 12px;
    line-height: 34px;
  }
  .accordion {
    margin-top: 40px;
  }
  .accordion .accordion-content p {
    font-size: 16px;
    margin: 1em 0;
  }
  .accordion button .accordion-title {
    font-size: 18px;
  }
  .accordion button .icon::before {
    transform: rotate(45deg) scale(0.7);
  }
  .accordion button[aria-expanded='true'] .icon::before {
    transform: rotate(0deg) scale(0.7);
  }
  .delivery {
    padding: 0;
  }
  .delivery .container {
    margin: 0;
    padding: 0;
  }
  .order {
    width: 100%;
    padding: 0 12px;
    height: auto;
    row-gap: 16px;
    border-radius: 0;
  }
  .order_text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    padding-bottom: 12px;
  }
  .order_btn {
    font-size: 16px;
  }
  .footer_position {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0;
  }
  .footer_position .header_item {
    display: none;
  }
  .footer_position .footer_links {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
/*# sourceMappingURL=style.css.map */