@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

.inner {
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1156px;
}
.container .posi {
  position: relative;
}

.logo {
  margin-right: 155px;
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 17px;
  color: #fff;
}
.logo span {
  color: #48d946;
}

.crice {
  margin: 0 auto !important;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  transition: 0.5s linear;
  z-index: 1;
}
header.fixed {
  width: 100%;
  background-color: #000;
}
header.fixed .menu > label {
  width: 60px;
  height: 60px;
}

.all_block {
  position: absolute;
  top: 15%;
}

.header_itme {
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
  list-style-type: none;
  padding-top: 14px;
}

.heade_links {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  transition: 0.2s linear;
  white-space: nowrap;
}

.header_titleblock {
  margin-top: 10%;
}

.header_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;
  color: #fff;
  max-width: 657px;
  margin-bottom: 50px;
}
.header_title span {
  color: #48d946;
}

.header_suptitle {
  max-width: 623px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 141.5%;
  letter-spacing: 0.035em;
  color: #e7e7e7;
  margin-bottom: 33px;
}

.header_block {
  display: flex;
  -moz-column-gap: 38px;
       column-gap: 38px;
}

.header_btn {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 61px;
  letter-spacing: 0.055em;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #fff;
  padding: 0 30px;
  transition: 0.3s ease-in;
}

.header_contacts {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 61px;
  letter-spacing: 0.055em;
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid transparent;
  text-align: center;
  width: 1px;
  transition: 0.3s ease-in;
}

.services_title {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 2px;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #555555;
  padding-top: 70px;
  margin-bottom: 38px;
}

label {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  left: 0;
  top: 0;
  max-width: 100px;
  max-height: 100px;
}
label input {
  display: none;
}
label path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
label circle {
  fill: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: 0.1s linear;
}
label:hover circle {
  opacity: 1;
}
label .cross input:checked + svg .line--1,
label .cross input:checked + svg .line--3 {
  --length: 22.627416998;
}
label .cross input:checked + svg .line--2 {
  --length: 0;
}
label .debug {
  display: none;
}

.menu {
  display: none;
}

.menu--3 {
  background-color: #00aef6;
}
.menu--3 .line--1,
.menu--3 .line--3 {
  --total-length: 126.38166809082031;
}
.menu--3 .line--2 {
  --total-length: 80;
}
.menu--3 input:checked + svg .line--1,
.menu--3 input:checked + svg .line--3 {
  --offset: -109.1770175568;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
  --length: 8.602325267;
}

.services_items {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 58px;
  margin-bottom: 76px;
}

.services_item {
  background: #FDFDFD;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 330px;
  align-items: baseline;
  overflow: hidden;
  transition: 0.4s ease-in;
  position: relative;
}
.services_item img {
  transition: 0.4s ease-in;
}
.services_item::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 187px;
  opacity: 0;
  transition: 0.4s ease-in;
}
.services_item ul {
  padding: 0;
  margin: 0;
  padding-left: 33px;
}

.services_item_title {
  margin-top: 18px;
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  /* or 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.005em;
  color: #000000;
}

.services_item_text {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.005em;
  padding-left: 33px;
  color: #000000;
}

.services_positon {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.005em;
  color: #ADADAD;
  padding: 0px;
  list-style-image: url(../img/check.svg);
  position: relative;
  padding-left: 6px;
  margin-left: 16px;
  margin-bottom: 5px;
}

.serivces_price {
  margin-top: 24px;
  padding-left: 33px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.005em;
  color: #000000;
  margin-bottom: 28px;
  padding: 0;
  padding-left: 33px;
  position: relative;
}
.serivces_price span:first-child {
  color: #48D946;
}
.serivces_price span:first-child::after {
  content: " ₽";
}
.serivces_price .korn {
  margin-left: 4px;
}
.serivces_price .korn::after {
  content: "2";
  color: #000;
  font-size: 8px;
  position: absolute;
  top: -4px;
}

.services_btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.005em;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #48D946;
  background: #48D946;
  text-decoration: none;
  padding: 11px 40px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 24px;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .header_contacts:hover {
    width: 90px;
    border-bottom: 1px solid #fff;
  }
  .services_item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
  .services_item:hover img {
    scale: 1.1;
  }
  .services_item:hover ::before {
    opacity: 1;
  }
  .header_btn:hover {
    background-color: #fff;
    color: #000;
  }
  .services_btn:hover {
    scale: 1.1;
  }
  .heade_links:hover {
    border-bottom: 1px solid #fff;
  }
  .heade_links.active {
    border-bottom: 1px solid #fff;
  }
  .footer_social svg {
    fill: #323232;
    transition: 0.4s linear;
  }
  .footer_social svg:hover {
    fill: #48D946;
  }
}
.why {
  background-color: #FAFAFA;
}

.why_items {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: flex-start;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 150px;
  margin-top: 36px;
}

.why_item {
  display: flex;
  -moz-column-gap: 44px;
       column-gap: 44px;
}

.why_item_right {
  max-width: 640px;
}

.why_title {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  letter-spacing: 0.015em;
  color: #323232;
  margin: 0;
}

.why_text {
  font-family: "Neuton";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.035em;
  color: #ADADAD;
  margin: 0;
  margin-top: 18px;
}

.white {
  color: #fff;
  margin-top: 0;
}

.delivery {
  background-image: url(../img/us.png);
  background-position: center;
  background-size: cover;
}

.delivery_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.035em;
  max-width: 1000px;
  margin: 0 auto;
  color: #FFFFFF;
  padding-top: 30px;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  padding-bottom: 190px;
}

.order_text {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 54px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.045em;
  color: #000000;
}

.order {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
  padding-bottom: 162px;
}

.order_value {
  background: #FAFAFA;
  border-radius: 10px;
  padding: 18px 120px;
  text-align: center;
  outline: unset;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.045em;
  color: rgba(0, 0, 0, 0.5);
}

.order_btn {
  background: #48D946;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  letter-spacing: 0.045em;
  color: #FFFFFF;
  outline: none;
  border: none;
  padding: 18px 144px;
}

.map {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.map:hover {
  filter: grayscale(0%);
}

.map_block {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 10px;
  padding: 38px;
}

.map_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  color: #323232;
}

.map_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 141% */
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #000000;
}

.black {
  color: #323232;
  margin: 0;
  margin-bottom: 50px;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 85px 0;
}

.footer_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.005em;
  color: #000000;
}

.footer_item_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.footer_subtext {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2px;
  color: #0E5FAB;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 14px;
}

.footer_social {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.map_elipse_info {
  display: none;
}

@media (max-width: 1240px) {
  .container {
    max-width: 990px;
    padding: 0 16px;
  }
  .logo {
    margin-right: 76px;
  }
  .heade_links {
    font-size: 16px;
  }
  .services_items {
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-content: space-around;
  }
  .delivery_text {
    font-size: 28px;
    padding-bottom: 144px;
  }
}
@media (max-width: 990px) {
  .logo {
    display: none;
  }
  header {
    justify-content: center;
  }
  .header_itme {
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 12px;
  }
  .heade_links {
    padding-bottom: 6px;
  }
  .header_titleblock {
    margin-top: 18%;
  }
  .why_items {
    padding-bottom: 120px;
  }
  .map_block {
    left: 5%;
  }
}
@media (max-width: 770px) {
  .inner {
    background-size: cover;
    background-position: center;
  }
  .logo {
    display: block;
    margin-right: 0;
  }
  header {
    transition: 0.5s linear;
  }
  header .heade_links.active, header .heade_links:hover {
    border-bottom: 1px solid transparent !important;
  }
  header.fixed {
    position: fixed;
    background-color: #000;
    width: 100%;
    left: 0;
    top: 0;
  }
  header.fixed .logo {
    font-size: 24px;
  }
  header.fixed .menu > label {
    width: 60px;
    height: 60px;
  }
  .menu {
    display: block;
  }
  .header_itme {
    position: absolute;
    display: none;
    left: -110%;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    padding-top: 46px;
    width: calc(100% + 32px);
    background-color: black;
    height: 100vh;
    transition: 0.5s linear;
  }
  .header_itme.active {
    display: flex;
    left: calc(0% - 16px);
    top: 0;
  }
  .header_itme .header_items {
    width: 100%;
    display: block;
    text-align: center;
  }
  .header_itme .header_items .heade_links {
    width: 100%;
    display: block;
    height: 40px;
  }
  .header_suptitle {
    font-size: 18px;
  }
  .header_title {
    margin-bottom: 38px;
  }
  .delivery_text {
    font-size: 22px;
  }
}
@media (max-width: 560px) {
  .logo {
    line-height: 20px;
  }
  .services_title {
    font-size: 20px;
  }
  .header_title {
    font-size: 26px;
    line-height: 32px;
  }
  .header_suptitle {
    font-size: 16px;
  }
  .header_btn {
    background-color: #fff;
    color: #000;
  }
  .footer_items {
    flex-direction: column;
  }
  .services_item {
    max-width: 330px;
  }
  .header_block {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header_btn {
    font-size: 16px;
    padding: 0 16px;
    flex: 1 1 0;
    text-align: center;
  }
  .header_contacts {
    font-size: 16px;
    display: none;
  }
  .black {
    text-align: center;
  }
  .order_btn {
    padding: 18px 0;
    width: 100%;
    text-align: center;
  }
  .order_value {
    padding: 18px 40px;
    display: flex;
    flex: 1 1 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
  }
  .order {
    padding-bottom: 118px;
  }
  .all_block {
    left: 0;
    padding: 0 16px;
  }
  .why_title {
    font-size: 16px;
  }
  .why_text {
    font-size: 14px;
  }
  .why_item {
    align-items: flex-start;
  }
  .why_items {
    padding-bottom: 92px;
  }
  .services_items {
    margin-top: 36px;
    row-gap: 36px;
  }
  .map_block {
    transition: 0.5s linear;
    z-index: 1;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .map_elipse_info {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 6px solid #d7d7d7;
    animation: pulse 3s infinite;
  }
  .map_elipse_info svg {
    background-position: center;
    width: 14px;
    height: auto;
    fill: #d7d7d7;
  }
  .flex {
    left: -100%;
  }
  .footer_text {
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .map {
    filter: grayscale(0%);
  }
}
